body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* NavBar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 30;
}

.brand-title {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 1.9rem;
    margin: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: 4rem;
}

.brand-title a {
    color: black;
    text-decoration: none;
}

.navbar-links {
    height: 100%;
}

.navbar-links .uls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links .uls li {
    list-style: none;
}

.navbar-links .uls li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0rem 2rem;
}

.nav-products {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem;
}

.le {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem;
}

.nav-about {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem;
}

.navbar-links .uls li a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.nav-shop {
    padding: 1rem 0rem;
}

.nav-contact {
    padding: 1rem 0rem;
}

.sub-menu {
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 1rem;
    right: 0;
    width: 100%;
    height: 18rem;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.sub-title1 {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
}

.sub-menu ul li a {
    font-size: .9rem;
}

.sub-menu ul li {
    margin: .2rem;
}

.sub-menu-ul ul {
    padding: 0rem 2rem;
    margin: .5rem 0rem;
}

.sub-img-box {
    display: flex;
    margin-left: 10rem;
}

.sub-img-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.sub-img {
    width: 55%;
}

.sub-img-box div a {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
    font-weight: 200;
}

.nav-shop:hover .sub-menu {
    display: flex;
}

.nav-contact:hover .sub-menu2 {
    display: flex;
}

.sub-menu2 {
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 1rem;
    right: 0;
    width: 100%;
    height: 18rem;
}

.sub-menu2 ul {
    display: flex;
    flex-direction: column;
    margin-top: 3.7rem;
    margin-left: 5rem;
}

.sub-menu2 ul li a {
    font-size: .9rem;
}

.sub-menu2 ul li {
    margin: .4rem;
}

.sub-menu2-ul ul {
    padding: 0rem 2rem;
    margin: .5rem 0rem;
    border: 2px solid;
}

.sub2-img-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    height: 100%;
    width: 100%;
}

.sub2-img-box {
    display: flex;
}

.sub2-img {
    width: 28%;
}

.sub2-img-box div a {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

@media (max-width: 1050px) {
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: 1rem;
        margin-top: .3rem;
        margin-bottom: .3rem;
        margin-left: 1rem;
    }

    .navbar-links .ul li a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0rem 1rem;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: .3rem;
        margin-left: 20rem;
    }

    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .icon2 {
        display: none;
    }

    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }

    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }

    .icon-ul li a {
        color: black;
    }
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 1.8rem;
        margin-left: 4.8rem;
    }

    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .icon2 {
        display: none;
    }

    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }

    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }

    .icon-ul li a {
        color: black;
    }
}

/* . . . */

/* Background */

.background1 {
    background-image: url(/IMG/shttefan-Q--oPI42ArQ-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: .5rem;
    font-size: 2.2rem;
    margin-top: 10rem;
    color: rgb(255, 255, 255);
}

.shop-btn {
    background-color: transparent;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: .3rem;
    cursor: pointer;
    padding: 0;
    margin-top: 5rem;
    outline: none;
}

.shop-btn a {
    display: block;
    margin: 0;
    padding: .9rem 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: ease-out .5s;
}

.shop-btn a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (max-width: 400px) {
    .intro-text {
        text-align: center;
        letter-spacing: .5rem;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        margin-top: 8rem;
        margin-left: .4rem;
        color: white;
    }

    .shop-btn {
        border: 2px solid rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: .3rem;
        cursor: pointer;
        margin-left: 0rem;
        margin-top: 8rem;
        padding: 0;
        outline: none;
    }
}

/* . . . */

/* Special */

.special-background {
    background-color: white;
    height: 120vh;
}

.special-background h1 {
    display: flex;
    justify-content: center;
    margin: 2.7rem;
    font-size: 1.7rem;
    font-weight: 200;
}

.special-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45rem;
    width: 30rem;
    transition: transform .5s ease-in-out;
    margin: 0rem 1rem;
    padding: 0;
    margin: 0;
}

.zoom img:hover {
    transform: scale(1.1);
}

.zoom {
    overflow: hidden;
    margin: 1rem;
}

.btn-box {
    display: flex;
}

.btn-box .btn1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 15.5rem;
    color: black;
    text-decoration: none;
}

.btn-box .btn2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 20rem;
    color: black;
    text-decoration: none;
}

.btn-box .btn3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 21rem;
    color: black;
    text-decoration: none;
}

.btn-box a:hover {
    text-decoration: underline;
}

.btnall {
    display: none;
}

@media (max-width: 1700px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 13.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1600px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 11.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 19.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1500px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 11rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 18rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 19rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1500px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 17rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 19rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1500px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 19rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1400px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 16rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 16rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1300px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 13rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 14rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1200px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 12rem;
        color: black;
        text-decoration: none;
    }
}

@media (max-width: 1100px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 6rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 11rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 1000px) {
    .btn-box .btn1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 4rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 8rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 9rem;
        color: black;
        text-decoration: none;
    }

}

@media (max-width: 800px) {
    .special-background {
        background-color: white;
        height: 260vh;
    }

    .special-background h1 {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img:hover {
        transform: scale(1.1);
    }

    .zoom {
        overflow: hidden;
        margin: 1rem;
    }

    .btnall {
        display: flex;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-bottom: 2rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn1 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 15.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }

    .btn-box a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 400px) {
    .special-background {
        background-color: white;
        height: 290vh;
    }

    .special-background h1 {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zoom img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40rem;
        width: 22rem;
        transition: transform .5s ease-in-out;
        margin: 0rem 1rem;
        padding: 0;
        margin: 0;
    }

    img:hover {
        transform: scale(1.1);
    }

    .zoom {
        overflow: hidden;
        margin: 1rem;
    }

    .btnall {
        display: flex;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-bottom: 2rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn1 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 15.5rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn2 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }

    .btn-box .btn3 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }

    .btn-box a:hover {
        text-decoration: underline;
    }
}

/* . . . */

/* Background2 */

.feature-background {
    background-image: url(/IMG/photo-1523380886783-80fdd1fce62d.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.feature-background .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.feature-background .box h1 {
    color: white;
}

.feature-title {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.feature-text {
    font-family: 'Kaisei HarunoUmi', serif;
}

.feature-background .box button {
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    margin-top: 8rem;
    border: none;
    border: 2px solid black;
    transition: background-color .4s ease-out;
}

.feature-background .box button:hover {
    background-color: black;
}

.feature-background .box button a {
    display: block;
    padding: .8rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: ease-out .4s;
}

.feature-background .box button a:hover {
    color: white;
}

@media (max-width: 400px) {
    .feature-background {
        background-image: url(https://images.unsplash.com/photo-1523380886783-80fdd1fce62d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
        height: 85vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .feature-background .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
    }

    .feature-background .box h1 {
        color: white;
        text-align: center;
    }

    .feature-title {
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }

    .feature-text {
        font-family: 'Kaisei HarunoUmi', serif;
    }

    .feature-background .box button {
        text-transform: uppercase;
        letter-spacing: .2rem;
        cursor: pointer;
        margin-top: 8rem;
        border: none;
        border: 2px solid black;
        transition: background-color .4s ease-out;
    }

    .feature-background .box button:hover {
        background-color: black;
    }

    .feature-background .box button a {
        display: block;
        padding: .8rem 1.5rem;
        color: black;
        text-decoration: none;
        transition: ease-out .4s;
    }

    .feature-background .box button a:hover {
        color: white;
    }
}

/* . . . */

/* feature-background2 */

.feature-background2 {
    display: grid;
    grid-template: auto auto / auto auto;
    height: 90vh;
}

.feature-background2 .feature-img1 {
    background-image: url(/IMG/justin-buisson-JU5_bUxr5Rg-unsplash.jpg);
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-left: 2rem;
}

.feature-background2 .feature-img1 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.feature-background2 .feature-img1 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .feature-img1 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .feature-img1 .inner-img-box button a {
    padding: .7rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: color .5s ease-out;
}

.feature-background2 .feature-img1 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .feature-img1 .inner-img-box button a:hover {
    color: white;
}

.feature-background2 .feature-img2 {
    background-image: url(/IMG/brandon-webb-GNPCqlUex8U-unsplash.jpg);
    height: 130%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-right: 2rem;
}

.feature-background2 .feature-img2 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.feature-background2 .feature-img2 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .feature-img2 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .feature-img2 .inner-img-box button a {
    color: black;
    text-decoration: none;
    padding: .7rem 1.5rem;
    transition: color .5s ease-out;
}

.feature-background2 .feature-img2 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .feature-img2 .inner-img-box button a:hover {
    color: white;
}

@media (max-width: 400px) {
    .feature-background2 {
        display: grid;
        grid-template: auto auto / auto;
        height: 150vh;
        margin-bottom: 5rem;
    }

    .feature-background2 .feature-img1 {
        background-image: url(https://images.unsplash.com/photo-1578681994506-b8f463449011?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGNsb3RoaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 2rem 1rem;
        margin-left: 1rem;
    }

    .feature-background2 .feature-img1 .inner-img-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        overflow: hidden;
    }

    .feature-background2 .feature-img1 .inner-img-box h1 {
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: white;
        text-align: center;
    }

    .feature-background2 .feature-img1 .inner-img-box button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 0;
        border: 2px solid black;
        transition: background-color .5s ease-out;
    }

    .feature-background2 .feature-img1 .inner-img-box button a {
        padding: .7rem 1.5rem;
        color: black;
        text-decoration: none;
        transition: color .5s ease-out;
    }

    .feature-background2 .feature-img1 .inner-img-box button:hover {
        background-color: black;
    }

    .feature-background2 .feature-img1 .inner-img-box button a:hover {
        color: white;
    }

    .feature-background2 .feature-img2 {
        background-image: url(https://images.unsplash.com/photo-1604272490759-7c465473958a?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTR8MXpNNDVFUTA4U018fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 4rem 1rem;
        margin-right: 1rem;
    }

    .feature-background2 .feature-img2 .inner-img-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }

    .feature-background2 .feature-img2 .inner-img-box h1 {
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: white;
        text-align: center;
    }

    .feature-background2 .feature-img2 .inner-img-box button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 0;
        border: 2px solid black;
        transition: background-color .5s ease-out;
    }

    .feature-background2 .feature-img2 .inner-img-box button a {
        color: black;
        text-decoration: none;
        padding: .7rem 1.5rem;
        transition: color .5s ease-out;
    }

    .feature-background2 .feature-img2 .inner-img-box button:hover {
        background-color: black;
    }

    .feature-background2 .feature-img2 .inner-img-box button a:hover {
        color: white;
    }
}

/* . . . */

/* Footer */

.footer {
    height: 50vh;
}

.footer-box {
    height: 90%;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.clothing-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.clothing-box p {
    font-weight: 200;
    font-size: .8rem;
}

.clothing-box p a {
    color: black;
    text-decoration: none;
}

.clothing-box p a:hover {
    text-decoration: underline;
}

.info-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.info-box p {
    font-weight: 200;
    font-size: .8rem;
}

.info-box p a {
    color: black;
    text-decoration: none;
}

.info-box p a:hover {
    text-decoration: underline;
}

.follow-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.follow-box p {
    font-weight: 200;
    font-size: .8rem;
}

.follow-box a {
    margin: 0rem .8rem;
    color: black;
}

.follow-box .insta-icon {
    margin-left: 0;
}

.follow-box .fab {
    transition: transform .6s ease;
}

.follow-box .fab:hover {
    transform: rotate(-90deg);
}

.join-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.join-box p {
    font-weight: 200;
    font-size: .8rem;
}

.join-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.join-box div input {
    margin-bottom: 1rem;
    padding: .6rem .7rem;
    width: 12rem;
}

.join-box div button {
    cursor: pointer;
    background-color: black;
    transition: background-color .5s ease;
}

.join-box div button a {
    display: block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    padding: .4rem 1rem;
    text-decoration: none;
    transition: color .5s ease;
}

.join-box div button:hover {
    background-color: white;
}

.join-box div button a:hover {
    color: black;
}

@media (max-width: 800px) {
    .footer {
        height: 50vh;
    }

    .footer-box {
        height: 90%;
    }

    .footer-box {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .clothing-box {
        margin-left: 1rem;
        margin-right: 0rem;
    }

    .clothing-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .clothing-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .clothing-box p a {
        color: black;
        text-decoration: none;
    }

    .clothing-box p a:hover {
        text-decoration: underline;
    }

    .info-box {
        margin: 0rem .5rem;
    }

    .info-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .info-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .info-box p a {
        color: black;
        text-decoration: none;
    }

    .info-box p a:hover {
        text-decoration: underline;
    }

    .follow-box {
        margin: 0rem .5rem;
    }

    .follow-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .follow-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .follow-box a {
        margin: 0rem .8rem;
        color: black;
    }

    .follow-box .social-icons {
        margin: .2rem;
    }

    .follow-box .insta-icon {
        margin-left: 0;
    }

    .follow-box .fab {
        transition: transform .6s ease;
    }

    .follow-box .fab:hover {
        transform: rotate(-90deg);
    }

    .join-box {
        margin-left: .5rem;
        margin-right: 1rem;
    }

    .join-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .join-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .join-box div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .join-box div input {
        margin-bottom: 1rem;
        padding: .6rem .7rem;
        width: 12rem;
    }

    .join-box div button {
        cursor: pointer;
        background-color: black;
        transition: background-color .5s ease;
    }

    .join-box div button a {
        display: block;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: white;
        padding: .4rem 1rem;
        text-decoration: none;
        transition: color .5s ease;
    }

    .join-box div button:hover {
        background-color: white;
    }

    .join-box div button a:hover {
        color: black;
    }
}

@media (max-width: 400px) {
    .footer {
        height: 120vh;
    }

    .footer-box {
        height: 90%;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 10rem;
        margin-left: 1rem;
    }

    .clothing-box {
        margin: .7rem 0rem;
    }

    .clothing-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .clothing-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .clothing-box p a {
        color: black;
        text-decoration: none;
    }

    .clothing-box p a:hover {
        text-decoration: underline;
    }

    .info-box {
        margin: 1.5rem 0rem;

    }

    .info-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .info-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .info-box p a {
        color: black;
        text-decoration: none;
    }

    .info-box p a:hover {
        text-decoration: underline;
    }

    .follow-box {
        margin: 1rem 0rem;

    }

    .follow-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .follow-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .follow-box a {
        margin: 0rem .8rem;
        color: black;
    }

    .follow-box .insta-icon {
        margin-left: 0;
    }

    .follow-box .fab {
        transition: transform .6s ease;
    }

    .follow-box .fab:hover {
        transform: rotate(-90deg);
    }

    .join-box {
        margin: 1.5rem 0rem;

    }

    .join-box h3 {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .9rem;
    }

    .join-box p {
        font-weight: 200;
        font-size: .8rem;
    }

    .join-box div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .join-box div input {
        margin-bottom: 1rem;
        padding: .6rem .7rem;
        width: 12rem;
    }

    .join-box div button {
        cursor: pointer;
        background-color: black;
        transition: background-color .5s ease;
    }

    .join-box div button a {
        display: block;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: white;
        padding: .4rem 1rem;
        text-decoration: none;
        transition: color .5s ease;
    }

    .join-box div button:hover {
        background-color: white;
    }

    .join-box div button a:hover {
        color: black;
    }
}

/* . . .  */

/* Shirt-page */

.shirtPageBackground {
    height: 220vh;
}

.shirtFPageBackground {
    height: 200vh;
}

.shirtPageItemBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shirtPageItem {
    width: 20%;
    margin-top: 8rem;
}

.shirtPageItem img {
    width: 100%;
}

.shirtPageItemPrice {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.shirtPageItemPrice1 {
    margin-left: .5rem;
}

.shirtPageItemPrice2 {
    margin-right: 0rem;
}

.shirtPageItemPrice3 {
    margin-right: 0rem;
}

.shirtPageItemPrice4 {
    margin-right: 3.8rem;
}

.shirtPageItemPriceText {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .8rem;
}

.shirtPageItemPriceNum {
    font-size: .8rem;
}

/* . . .  */

/* Shop-Page */

.shopPageBackground {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shopPageBackground h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 6rem;
    margin-bottom: 0;
}

.shopPageCollectionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.collectionImg1 {
    background-image: url(/IMG/photo-1523380886783-80fdd1fce62d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    height: 82%;
    width: 47%;
}

.collectionImg1 h1 {
    font-size: 2rem;
    color: white;
}

.collectionImg1 button {
    padding: .7rem 0rem;
    border: 2px solid;
    transition: all .7s ease;
}

.collectionImg1 button a {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .8rem 1.8rem;
    color: black;
    text-decoration: none;
    transition: all .7s ease;
}

.collectionImg1 button:hover {
    background-color: black;
    color: black;
}

.collectionImg1 button a:hover {
    color: white;
}

.collectionImg2 {
    background-image: url(https://images.unsplash.com/photo-1529809773508-cd894c3de760?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdGhpbmclMjBtZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    height: 82%;
    width: 47%;
}

.collectionImg2 h1 {
    font-size: 2rem;
    color: white;
}

.collectionImg2 button {
    padding: .7rem 0rem;
    border: 2px solid;
    transition: all .7s ease;
}

.collectionImg2 button a {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .8rem 1.8rem;
    color: black;
    text-decoration: none;
    transition: all .7s ease;
}

.collectionImg2 button:hover {
    background-color: black;
    color: black;
}

.collectionImg2 button a:hover {
    color: white;
}

.shopPageBackground2 {
    height: 90vh;
}

.shopPageItemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ShopPageItem1 {
    background-image: url(https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItemSection1 {
    background-image: url(https://images.unsplash.com/photo-1514311548104-ae305aac4688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItem1 h1 {
    font-family: 'Lora', serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin-top: 10rem;
    color: white;
}

.ShopPageItem1 button {
    padding: .6rem 0rem;
    border: 2px solid;
    transition: all .7s ease;
}

.ShopPageItem1 button a {
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: black;
    transition: all .7s ease;
}

.ShopPageItem1 button:hover {
    background-color: black;
    color: black;
}

.ShopPageItem1 button a:hover {
    color: white;
}

.ShopPageItem2 {
    background-image: url(https://images.unsplash.com/photo-1564557287817-3785e38ec1f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItemSection2 {
    background-image: url(https://images.unsplash.com/photo-1564859227552-81fde4a1df0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItem2 h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 3rem;
    margin-top: 10rem;
    color: white;
}

.ShopPageItem2 button {
    padding: .6rem 0rem;
    border: 2px solid;
    transition: all .7s ease;
}

.ShopPageItem2 button a {
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: black;
    transition: all .7s ease;
}

.ShopPageItem2 button:hover {
    background-color: black;
    color: black;
}

.ShopPageItem2 button a:hover {
    color: white;
}


.ShopPageItem3 {
    background-image: url(https://images.unsplash.com/photo-1617952385804-1da4f8d71ba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItemSection3 {
    background-image: url(https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1.5rem;
    height: 90%;
    width: 50%;
}

.ShopPageItem3 h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 3rem;
    margin-top: 10rem;
    color: white;
}

.ShopPageItem3 button {
    padding: .6rem 0rem;
    border: 2px solid;
    transition: all .7s ease;
}

.ShopPageItem3 button a {
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: black;
    transition: all .7s ease;
}

.ShopPageItem3 button:hover {
    background-color: black;
    color: black;
}

.ShopPageItem3 button a:hover {
    color: white;
}

/* account */

.account-body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-body div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-body div h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 100;
    margin: 0;
}

.account-body div p {
    margin: .5rem;
    margin-bottom: 1rem;
    font-size: small;
}

.account-body div input {
    border: .1px solid rgb(156, 156, 156);
    margin: .5rem;
    height: 2rem;
    width: 22rem;
    padding: .2rem;
}

.account-body div button {
    background-color: black;
    border: 1px solid black;
    height: 2.8rem;
    width: 22.5rem;
    color: white;
    transition: all .5s ease;
}

.account-body div a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: white;
    padding: .8rem;
    margin: 0;
    transition: all .5s ease;
}

.account-body div button:hover {
    background-color: rgb(255, 255, 255);
}

.account-body div a:hover {
    color: rgb(0, 0, 0);
}

@media (max-width: 800px) {

}

@media (max-width: 400px) {
    
}

/* . . . */

/* About us */

.about-s1 {
    background-image: url(https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    height: 32rem;
    width: 100%;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-s1 h1 {
    margin-top: 4.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    letter-spacing: .2rem;
}

.about-s2 {
    height: 45rem;
}

.about-s2-box {
    display: flex;
}

.about-s2-img {
    background-image: url(/IMG/julian-wan-WNoLnJo7tS8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 45rem;
    width: 50%;
}

.about-s2-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-left: 5rem;
    width: 30%;
}

.about-s2-text h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 22.7rem;
    letter-spacing: .2rem;
    font-weight: 100;
}

.about-s2-text p {
    font-size: .9rem;
}

.about-s3 {
    height: 45rem;
}

.about-s3-box {
    display: flex;
    justify-content: flex-end;
}

.about-s3-img {
    background-image: url(/IMG/mariya-georgieva-0O6Fv3Ff_XI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 45rem;
    width: 50%;
}

.about-s3-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-right: 5rem;
    width: 30%;
}

.about-s3-text h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 22.7rem;
    letter-spacing: .2rem;
    font-weight: 100;
}

.about-s3-text p {
    font-size: .9rem;
}

.about-s4 {
    background-color: rgb(42, 42, 44);
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-s4 h1 {
    font-family: 'Lato', sans-serif;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 100;
    font-size: 1.3rem;
}

.about-s4 h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(233, 233, 233);
    font-weight: 100;
    font-size: .9rem;
}

.about-s5 {
    background-image: url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    height: 30rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.feature-background2 .community-img1 {
    background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-left: 2rem;
}

.feature-background2 .community-img1 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.feature-background2 .community-img1 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .community-img1 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .community-img1 .inner-img-box button a {
    padding: .7rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: color .5s ease-out;
}

.feature-background2 .community-img1 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .community-img1 .inner-img-box button a:hover {
    color: white;
}


.feature-background2 .purpose-img2 {
    background-image: url(https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1183&q=80);
    height: 130%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-right: 2rem;
}

.feature-background2 .purpose-img2 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.feature-background2 .purpose-img2 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .purpose-img2 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .purpose-img2 .inner-img-box button a {
    color: black;
    text-decoration: none;
    padding: .7rem 1.5rem;
    transition: color .5s ease-out;
}

.feature-background2 .purpose-img2 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .purpose-img2 .inner-img-box button a:hover {
    color: white;
}

.about-s6 {
    height: 5rem;
}































/* . . . */