body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* NavBar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}

.brand-title {
    text-transform: uppercase;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 2rem;
    margin: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: 4rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links .ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links .ul li {
    list-style: none;
}

.navbar-links .ul li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0rem 2rem;
}

.navbar-links .ul li a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: 1rem;
        margin-top: .3rem;
        margin-bottom: .3rem;
        margin-left: 1rem;
    }

    .navbar-links .ul li a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0rem 1rem;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: .3rem;
        margin-left: 20rem;
    }
    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .icon2 {
        display: none;
    }
    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }
    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }
    .icon-ul li a {
        color: black;
    }
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: 0;
        margin-left: 4.3rem;
    }
    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .icon2 {
        display: none;
    }
    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }
    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }
    .icon-ul li a {
        color: black;
    }
}

/* . . . */

/* Background */
.background1 {
    background-image: url(https://images.unsplash.com/photo-1527016021513-b09758b777bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1052&q=80);
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    letter-spacing: .5rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: white;
}

