body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.sub-menu {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 15rem;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.sub-title1 {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .9rem;
}

.sub-menu ul li a {
    font-size: .9rem;
}

.sub-menu ul li {
    margin: .2rem;
}

.sub-menu-ul ul {
    padding: 0rem 2rem;
    margin: .5rem 0rem;
}

.nav-shop:hover .sub-menu {
    display: flex;
}

/* NavBar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 30;
}

.brand-title {
    text-transform: uppercase;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 2rem;
    margin: 1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: 4rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links .uls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-links .uls li {
    list-style: none;
}

.navbar-links .uls li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0rem 2rem;
}

.navbar-links .uls li a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: 1rem;
        margin-top: .3rem;
        margin-bottom: .3rem;
        margin-left: 1rem;
    }
    .navbar-links .ul li a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        margin: 0rem 1rem;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 2rem;
        margin: .3rem;
        margin-left: 20rem;
    }
    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .icon2 {
        display: none;
    }
    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }
    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }
    .icon-ul li a {
        color: black;
    }
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .brand-title {
        text-transform: uppercase;
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 1.8rem;
        margin-left: 4.8rem;
    }
    .toggle-button {
        left: 0;
        margin-left: 1rem;
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 1.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .icon2 {
        display: none;
    }
    .icon-ul {
        position: absolute;
        right: 0;
        margin-right: .5rem;
        display: flex;
    }
    .icon-ul li {
        display: flex;
        margin: .5rem;
        margin-top: 0;
        color: black;
    }
    .icon-ul li a {
        color: black;
    }
}

/* . . . */

/* Background */

.background1 {
    background-image: url(/IMG/mahdi-bafande-MuQg0RipDks-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: .5rem;
    font-size: 2.2rem;
    margin-top: 10rem;
    color: rgb(255, 255, 255);
}

.shop-btn {
    background-color: transparent;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: .3rem;
    cursor: pointer;
    padding: 0;
    margin-top: 5rem;
    outline: none;
}

.shop-btn a {
    display: block;
    margin: 0;
    padding: .9rem 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: ease-out .5s;
}

.shop-btn a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media (max-width: 400px) {
    .intro-text {
        text-align: center;
        letter-spacing: .5rem;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        margin-top: 8rem;
        margin-left: .4rem;
        color: white;
    }
    .shop-btn {
        border: 2px solid black;
        text-transform: uppercase;
        letter-spacing: .3rem;
        cursor: pointer;
        margin-left: 0rem;
        margin-top: 8rem;
        padding: 0;
        outline: none;
    }
}

/* . . . */

/* Special */

.special-background {
    background-color: white;
    height: 120vh;
}

.special-background h1 {
    display: flex;
    justify-content: center;
    margin: 2.7rem;
    font-size: 1.7rem;
    font-weight: 200;
}

.special-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45rem;
    width: 30rem;
    transition: transform .5s ease-in-out;
    margin: 0rem 1rem;
    padding: 0;
    margin: 0;
}

.zoom img:hover {
    transform: scale(1.1);
}

.zoom {
    overflow: hidden;
    margin: 1rem;
}

.btn-box {
    display: flex;
}

.btn-box .btn1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 15.5rem;
    color: black;
    text-decoration: none;
}

.btn-box .btn2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 20rem;
    color: black;
    text-decoration: none;
}

.btn-box .btn3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .4rem 1rem;
    margin-left: 21rem;
    color: black;
    text-decoration: none;
}

.btn-box a:hover {
    text-decoration: underline;
}

.btnall {
    display: none;
}

@media (max-width: 800px) {
    .special-background h1 {
        display: flex;
        justify-content: center;
        margin: 3rem;
    }
    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 45rem;
        width: 30rem;
        transition: transform .5s ease-in-out;
        margin: 0rem 1rem;
        padding: 0;
        margin: 0;
    }
    img:hover {
        transform: scale(1.1);
    }
    .zoom {
        overflow: hidden;
        margin: 1rem;
    }
    .btnall {
        display: flex;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-bottom: 2rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn1 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 15.5rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn2 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn3 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }
    .btn-box a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 400px) {
    .special-background {
        background-color: white;
        height: 290vh;
    }
    .special-background h1 {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .special-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .zoom img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 40rem;
        width: 22rem;
        transition: transform .5s ease-in-out;
        margin: 0rem 1rem;
        padding: 0;
        margin: 0;
    }
    img:hover {
        transform: scale(1.1);
    }
    .zoom {
        overflow: hidden;
        margin: 1rem;
    }
    .btnall {
        display: flex;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-bottom: 2rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn1 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 15.5rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn2 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 20rem;
        color: black;
        text-decoration: none;
    }
    .btn-box .btn3 {
        display: none;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: .4rem 1rem;
        margin-left: 21rem;
        color: black;
        text-decoration: none;
    }
    .btn-box a:hover {
        text-decoration: underline;
    }
}

/* . . . */

/* Background2 */

.feature-background {
    background-image: url(/IMG/photo-1523380886783-80fdd1fce62d.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.feature-background .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.feature-background .box h1 {
    color: white;
}

.feature-title {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.feature-text {
    font-family: 'Kaisei HarunoUmi', serif;
}

.feature-background .box button {
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    margin-top: 8rem;
    border: none;
    border: 2px solid black;
    transition: background-color .4s ease-out;
}

.feature-background .box button:hover {
    background-color: black;
}

.feature-background .box button a {
    display: block;
    padding: .8rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: ease-out .4s;
}

.feature-background .box button a:hover {
    color: white;
}

@media (max-width: 400px) {
    .feature-background {
        background-image: url(https://images.unsplash.com/photo-1523380886783-80fdd1fce62d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
        height: 85vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }
    .feature-background .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
    }
    .feature-background .box h1 {
        color: white;
        text-align: center;
    }
    .feature-title {
        font-family: 'Kaisei HarunoUmi', serif;
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }
    .feature-text {
        font-family: 'Kaisei HarunoUmi', serif;
    }
    .feature-background .box button {
        text-transform: uppercase;
        letter-spacing: .2rem;
        cursor: pointer;
        margin-top: 8rem;
        border: none;
        border: 2px solid black;
        transition: background-color .4s ease-out;
    }
    .feature-background .box button:hover {
        background-color: black;
    }
    .feature-background .box button a {
        display: block;
        padding: .8rem 1.5rem;
        color: black;
        text-decoration: none;
        transition: ease-out .4s;
    }
    .feature-background .box button a:hover {
        color: white;
    }
}

/* . . . */

/* feature-background2 */

.feature-background2 {
    display: grid;
    grid-template: auto auto / auto auto;
    height: 90vh;
}

.feature-background2 .feature-img1 {
    background-image: url(/IMG/justin-buisson-JU5_bUxr5Rg-unsplash.jpg);
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-left: 2rem;
}

.feature-background2 .feature-img1 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.feature-background2 .feature-img1 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .feature-img1 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .feature-img1 .inner-img-box button a {
    padding: .7rem 1.5rem;
    color: black;
    text-decoration: none;
    transition: color .5s ease-out;
}

.feature-background2 .feature-img1 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .feature-img1 .inner-img-box button a:hover {
    color: white;
}

.feature-background2 .feature-img2 {
    background-image: url(/IMG/brandon-webb-GNPCqlUex8U-unsplash.jpg);
    height: 130%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 1rem;
    margin-right: 2rem;
}

.feature-background2 .feature-img2 .inner-img-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.feature-background2 .feature-img2 .inner-img-box h1 {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    margin: 1rem 3rem;
}

.feature-background2 .feature-img2 .inner-img-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 0;
    border: 2px solid black;
    transition: background-color .5s ease-out;
}

.feature-background2 .feature-img2 .inner-img-box button a {
    color: black;
    text-decoration: none;
    padding: .7rem 1.5rem;
    transition: color .5s ease-out;
}

.feature-background2 .feature-img2 .inner-img-box button:hover {
    background-color: black;
}

.feature-background2 .feature-img2 .inner-img-box button a:hover {
    color: white;
}

@media (max-width: 400px) {
    .feature-background2 {
        display: grid;
        grid-template: auto auto / auto;
        height: 150vh;
        margin-bottom: 5rem;
    }
    .feature-background2 .feature-img1 {
        background-image: url(https://images.unsplash.com/photo-1578681994506-b8f463449011?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGNsb3RoaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 2rem 1rem;
        margin-left: 1rem;
    }
    .feature-background2 .feature-img1 .inner-img-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        overflow: hidden;
    }
    .feature-background2 .feature-img1 .inner-img-box h1 {
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: white;
        text-align: center;
    }
    .feature-background2 .feature-img1 .inner-img-box button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 0;
        border: 2px solid black;
        transition: background-color .5s ease-out;
    }
    .feature-background2 .feature-img1 .inner-img-box button a {
        padding: .7rem 1.5rem;
        color: black;
        text-decoration: none;
        transition: color .5s ease-out;
    }
    .feature-background2 .feature-img1 .inner-img-box button:hover {
        background-color: black;
    }
    .feature-background2 .feature-img1 .inner-img-box button a:hover {
        color: white;
    }
    .feature-background2 .feature-img2 {
        background-image: url(https://images.unsplash.com/photo-1604272490759-7c465473958a?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTR8MXpNNDVFUTA4U018fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 4rem 1rem;
        margin-right: 1rem;
    }
    .feature-background2 .feature-img2 .inner-img-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
    }
    .feature-background2 .feature-img2 .inner-img-box h1 {
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: white;
        text-align: center;
    }
    .feature-background2 .feature-img2 .inner-img-box button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .2rem;
        padding: 0;
        border: 2px solid black;
        transition: background-color .5s ease-out;
    }
    .feature-background2 .feature-img2 .inner-img-box button a {
        color: black;
        text-decoration: none;
        padding: .7rem 1.5rem;
        transition: color .5s ease-out;
    }
    .feature-background2 .feature-img2 .inner-img-box button:hover {
        background-color: black;
    }
    .feature-background2 .feature-img2 .inner-img-box button a:hover {
        color: white;
    }
}

/* . . . */

/* Footer */

.footer {
    height: 50vh;
}

.footer-box {
    height: 90%;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.clothing-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.clothing-box p {
    font-weight: 200;
    font-size: .8rem;
}

.clothing-box p a {
    color: black;
    text-decoration: none;
}

.clothing-box p a:hover {
    text-decoration: underline;
}

.info-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.info-box p {
    font-weight: 200;
    font-size: .8rem;
}

.info-box p a {
    color: black;
    text-decoration: none;
}

.info-box p a:hover {
    text-decoration: underline;
}

.follow-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.follow-box p {
    font-weight: 200;
    font-size: .8rem;
}

.follow-box a {
    margin: 0rem .8rem;
    color: black;
}

.follow-box .insta-icon {
    margin-left: 0;
}

.follow-box .fab {
    transition: transform .6s ease;
}

.follow-box .fab:hover {
    transform: rotate(-90deg);
}

.join-box h3 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .9rem;
}

.join-box p {
    font-weight: 200;
    font-size: .8rem;
}

.join-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.join-box div input {
    margin-bottom: 1rem;
    padding: .6rem .7rem;
    width: 12rem;
}

.join-box div button {
    cursor: pointer;
    background-color: black;
    transition: background-color .5s ease;
}

.join-box div button a {
    display: block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: white;
    padding: .4rem 1rem;
    text-decoration: none;
    transition: color .5s ease;
}

.join-box div button:hover {
    background-color: white;
}

.join-box div button a:hover {
    color: black;
}